/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.form-container {
  margin: 50px auto;
  width: 300px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px; 
  background-color: #3b71ca;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #2a55c0;
}

p {
  font-size: 14px;
  text-align: center;
}

a {
  color: #3b71ca;
}